.piano-container {
  position: relative;
  width: 1260px;
  height: 320px;
  margin-bottom: 50px;
}

.key {
  position: absolute;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 12px;
  font-weight: bold;
  user-select: none;
}

.white {
  height: 320px;
  background: #f4f4f4;
  border: 2px solid #222;
  color: black;
  z-index: 1;
}

.black {
  height: 200px;
  background: #111;
  border: 2px solid #000;
  color: white;
  z-index: 2;
}

.key span {
  margin-bottom: 10px;
}

.player {
  position: absolute;
  width: 74px;
  height: 74px;
  object-fit: contain;
  image-rendering: pixelated;
  z-index: 20;
  transition:
    left 0.05s linear,
    bottom 0.05s linear,
    transform 0.05s linear;
  will-change:
    left,
    bottom,
    transform;
  filter:
    drop-shadow(
      0 0 12px rgba(0,255,255,0.35)
    );
}