.piano-container {
  position: relative;
  width: 1260px;
  height: 320px;
  margin-bottom: 40px;
}

.white-keys,
.black-keys {
  position: absolute;
  inset: 0;
}

.key {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  user-select: none;
  transition:
    transform 0.08s ease,
    box-shadow 0.08s ease;
}

.white {
  height: 320px;
  background: linear-gradient(
    to bottom,
    #ffffff,
    #dcdcdc
  );
  border: 2px solid #111;
  border-radius: 0 0 12px 12px;
  color: #111;
  z-index: 1;
}

.black {
  height: 190px;
  background: linear-gradient(
    to bottom,
    #2b2b2b,
    #050505
  );
  border: 2px solid #000;
  border-radius: 0 0 10px 10px;
  color: white;
  z-index: 5;
}

.key span {
  margin-bottom: 10px;
  font-size: 11px;
  font-weight: bold;
  opacity: 0.7;
}

.player {
  position: absolute;
  width: 72px;
  height: 72px;
  object-fit: contain;
  image-rendering: pixelated;
  bottom: 340px;
  z-index: 20;
  will-change: transform;
}