* {
  box-sizing: border-box;
}

.game-area {
  position: relative;
  width: min(1260px, 92vw);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: Inter, sans-serif;
  background:
    radial-gradient(
      circle at top,
      #14192b,
      #050505 70%
    );
  color: white;
}

.scene {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.background-glow {
  position: absolute;
  width: 900px;
  height: 900px;
  background:
    radial-gradient(
      rgba(0,255,255,0.12),
      transparent 70%
    );
  filter: blur(100px);
  top: -300px;
  pointer-events: none;
}

.top-ui {
  position: absolute;
  top: 40px;
  text-align: center;
  z-index: 100;
}

.top-ui h1 {
  margin: 0;
  font-size: 3rem;
  letter-spacing: 10px;
  font-weight: 900;
}

.top-ui p {
  margin-top: 12px;
  opacity: 0.6;
  letter-spacing: 2px;
}

.piano-container {
  position: relative;
  width: 1260px;
  height: 320px;
  margin-bottom: 80px;
}

.white-keys,
.black-keys {
  position: absolute;
  inset: 0;
}

.key {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition:
    transform 0.08s ease,
    box-shadow 0.08s ease;
  user-select: none;
}

.white {
  height: 320px;
  background:
    linear-gradient(
      to bottom,
      #ffffff,
      #d6d6d6
    );
  border: 2px solid #111;
  border-radius: 0 0 14px 14px;
  z-index: 1;
}

.black {
  height: 190px;
  background:
    linear-gradient(
      to bottom,
      #2f2f2f,
      #050505
    );
  border-radius: 0 0 10px 10px;
  z-index: 5;
}

.key span {
  margin-bottom: 10px;
  font-size: 10px;
  opacity: 0.65;
}

.player {
  position: absolute;
  width: 74px;
  height: 74px;
  object-fit: contain;
  image-rendering: pixelated;
  z-index: 20;
  pointer-events: none;
  transition:
    left 0.04s linear,
    bottom 0.04s linear,
    transform 0.04s linear;
  will-change:
    left,
    bottom,
    transform;
  filter:
    drop-shadow(
      0 0 12px rgba(0,255,255,0.35)
    );
}